extends layout

block content
  h1= post.title

  p
    a(href="/posts/#{post.id}/edit") Edit This Post

  p= post.content

  p
    | author: 
    a(href="/posts/#{post.id}/author")
      = post.author.fullName
