extends layout

block content
  h1= title
  p Welcome to #{title}

  p
    a(href="/posts") blog posts


  - if (viewedPosts && viewedPosts.length > 0)
    ul 
      - each post in viewedPosts
        li= post.title
        


